<% if current_user.present? %>
  <div class="box_css">
    <a href=""><image src="/assets/IMG_2473.jpg" alt="タグ" class="menu_image2"></a>
    <%= link_to "タグ検索", :tags %>
  </div>
  <div class="box_css">
    <a href=""><image src="/assets/IMG_1734.jpg" alt="タグ" class="menu_image2"></a>
    <% tt = Timetable.find_by(user_id: current_user.id) %>
    <%= link_to "空きコマ検索", :timetables %>
  </div>
  <%= link_to "お知らせ", :announces %>
<% end %>
