<% if current_user.present? %>
  <div class="box_css">
    <p>タグ検索</p>
  </div>
  <div class="box_css">
    <% tt = Timetable.find_by(user_id: current_user.id) %>
    <%= link_to "空きコマ検索", :timetables %>
  </div>
  <%= link_to "Aminect", :announces %>
<% end %>
