<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
<p>
＊このメールはシステムからの自動送信です。<br>
<br>
小杉プロジェクトでございます。<br>
この度は『Aminect』に申し込みいただき、誠にありがとうございます。<br>
<br>
下記の初期登録用URLにアクセスし、発行したIDとパスワードでログインしてください。ユーザ情報の入力を行うことで、登録が完了となります。<br>
<br>
◆◆◆初期設定用URL◆◆◆<br>
<a href="http://localhost:3333/account/new">https<a/><br>
<hr />
　パスワード：<%= @pass %>
<hr />
※パスワードはアプリ内で変更可能ですが、変更しなくてもご利用いただけます。<br>
<br>
また、本メールで発行したIDはパスワードを忘れた際に必要となりますので、保管いただきますようよろしくお願い申し上げます。<br>
<br>
その他質問がございましたら、お手数ですが下記のメールアドレスにご連絡ください。<br>
＜返信用メールアドレス＞<br>
<%= mail_to 'kosugiproject@example.com' %>
</body>
</html>
