<table border=5 width="200px">
  <tr align="center">
    <th>ID</th>
    <th>名前</th>
  </tr>
  <% @users.each do |user| %>
    <tr align="center">
      <td><%= user.id %></td>
      <td><%= user.name %></td>
    </tr>
  <% end %>
</table>
