<table border=5 width="200px">
  <tr align="center">
    <th>ID</th>
    <th>名前</th>
  </tr>
  <% @users.each do |user| %>
    <tr align="center">
      <td><%= user.id %></td>
      <td><%= link_to user.name, user %></td>
    </tr>
  <% end %>
</table>

<%= link_to "<<戻る", root_path %>
