<table border=5 width="200px">
  <tr align="center">
    <th>ID</th>
    <td><%= @user.id %></td>
  </tr>
  <tr align="center">
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>
</table>
<br><br>
<% room_ids=UserRoom.where(user_id: @user.id) %>
<table border="1">
  <caption>ルーム一覧</caption>
  <td width=150px, align="center">
    <% room_ids.each do |rid| %>
      <% room=Room.find(rid.room_id) %>
      <%= link_to room.name, room %>
    <% end %>
  </td>
</table>
<br><br>
<%= link_to "<<戻る", :users %>
