<% mytags = current_user.user_tags.pluck(:tag_id) %>
<% recommend = [] %> <!-- 各ユーザのおすすめ度を入れていく [user, point] -->

<% users = User.all %>
<% users.each do |other| %>
  <% if other != current_user %>
    <% othertags = other.user_tags.pluck(:tag_id) %>
    <% point = [] %> <!-- 自分のタグごとの得点 ex)[k-popの点, j-popの点, ...] -->
    <% mytags.each do |mt| %>
      <% p = 0 %> <!-- 自分のタグ一つの得点 ex)k-popの点 -->
      <% othertags.each do |ot| %>
        <% rp = 0 %>
        <% if mt < ot %>
          <% if TagRelation.find_by(tag1_id: mt, tag2_id: ot).present? %> <% rp = TagRelation.find_by(tag1_id: mt, tag2_id: ot).degree %> <% end %>
        <% else %>
          <% if TagRelation.find_by(tag1_id: ot, tag2_id: mt).present? %> <% rp = TagRelation.find_by(tag1_id: ot, tag2_id: mt).degree %> <% end %>
        <% end %>
        <% p += rp %>  <!-- 加算方式(全て足す) -->
      <% end %>
      <% point << p %>
    <% end %>
    <% recommend << [other, point.sum] %>
  <% end %>
<% end %>
<% recommend.sort_by! {|x| -x[1] } %>
<br><br>
<!-- ここまでで各ユーザのおすすめ度の計算 -->

<% recommend.each do |rec| %>
  <p><%= link_to rec[0].name, rec[0] %>     / 得点：<%= rec[1] %></p>
<% end %>
