<h4>はじめに</h4>
　Aminectは、生田キャンパスに通う専修大学生限定のコミュニティサービスです。<br>
　趣味嗜好の合う人や空きコマが一致する人を探し、相互にメッセージをやり取りするなどのコミュニケーションを通じて、 「対面で出会うことを前提とした友達探し」をサポートします。
<br>


<h4>第１条　本利用規約について</h4>
　本規約は、専修大学小杉プロジェクト2022（以下「当団体」とします）が運営するサービス『Aminect』（以下「本サービス」といいます） を通じて会員（第２条で定義します）に提供するサービスに関して、その諸条件を定めるものです。 本サービスを利用する場合には、本利用規約への同意が必要となります。
<br>


<h4>第２条　用語の定義</h4>
　本利用規約において使用する用語の定義は、以下のとおりとします。<br>
<ol>
  <li>「本サービス」―「Aminect」を通じて提供される情報及びサービスの一切</li>
  <li>「本利用規約」―「Aminect利用規約」をいいます。</li>
  <li>「利用希望者」―本サービスの利用を希望し、会員登録をしようとする者をいいます。</li>
  <li>「会員」―本サービスの利用のために必要な情報を入力し、本利用規約に同意した上で、当団体が行うメールアドレス確認などの審査を通過した者をいいます。</li>
  <li>「写真等」―会員により投稿された写真、回答、メッセージなどのデータの一切をいいます。</li>
  <li>「プロフィール情報」―会員登録の際に登録する情報（名前、性別、学年、学部・学科など）や、 登録後に設定する情報（出身地、興味タグなど）をいいます。尚、プロフィールに入力した情報は、予め公開されても問題ない情報かどうか、入力前にご自身で十分に選別・確認していただいたのち、入力を行ってください。</li>
  <li>「個人情報」―会員により登録・送信された情報のうち、特定の個人を識別できる情報（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む）をいいます。</li>
</ol>


<h4>第３条　サービスの利用について</h4>
<ol>
  <li>
    本サービスを利用できるのは、当団体が定めた認証手続きが完了し、本サービスを利用する資格を持つ、生田キャンパスに通う専修大学在学中の学生の方に限ります。
  </li>
  <li>
    利用希望者は、利用希望者自身が専修大学在学中の学生である旨を誓約し、当団体が定める情報を入力し、 その後当団体の定める認証手続きを通過する必要があります。尚、会員登録時に提供された情報に虚偽があった場合や過去の利用状況等から本サービスの健全な運営に支障を来すおそれがある等と当団体が判断した場合は、会員登録が無効となります。また、登録の申請については必ず本サービスを利用する個人が行わなければならず、代理人による登録申請は認めておりません。
  </li>
  <li>
    プロフィール情報として登録する写真等について、著作権を侵害するあらゆる画像の使用は禁止しております。
  </li>
  <li>
    当団体は、悪質な会員による本利用規約への違反行為を防止する目的等、本サービスの正常かつ健全な運営のために必要な限度で、 本サービスへの投稿やメッセージについて、その内容の一部を確認することがあります。確認の結果、投稿やメッセージの内容が 本サービスの正常かつ健全な運営を妨げるあるいは本利用規約等に違反すると判断された場合、当団体は、会員への事前の通知なく、投稿やメッセージの全部または一部を 閲覧できない状態とする、または削除することがあります。
  </li>
</ol>


<h4>第４条　プロフィール情報、個人情報</h4>
<ol>
  <li>
    当団体は、本サービスにおいてプロフィール情報を、以下各号の目的で利用します。
    <ol style="margin-left: -25px;">
      <li class="kakko">本サービスの運営（これには、専修大学在学中の生田キャンパスに通う学生以外の登録を防止する目的や、プロフィール情報に基づき、会員同士が友達を探すこと、当団体から会員に対して本サービスに関連する情報を提供すること等が含まれます。）</li>
      <li class="kakko">本サービスの品質管理のためのアンケート調査、および分析</li>
      <li class="kakko">会員に対して、本サービス運営に著しく影響を及ぼす事柄 （本サービス内容の大幅な変更、一時停止を含みますがこれらに限られません）に関する連絡</li>
    </ol>
  </li>
  <li>当団体は、プロフィール情報について、本人以外の第三者に開示しないものとします。</li>
  <li>本サービスにおける年齢及び性別の判断・時間割の内容については、当団体に会員登録された生年月日、本人の自己申告等を元に合理的な範囲で行うものであり、全ての会員の情報が記載通り確実であることを保証するものではありません。</li>
  <li>会員は、当団体がプロフィール情報を本利用規約に定めるとおりに利用することについて、あらかじめ同意するものとします。</li>
  <li>本サービスに入力したプロフィール情報（名前・性別・出身地 およびその他の項目）に変更が生じた場合、会員は遅滞なく、プロフィール情報を変更するものとします。</li>
  <li>会員は、本サービスに登録している他利用者の個人情報の、開示、削除、又は、訂正の請求について、当団体ではいかなる場合においても一切対応いたしません。</li>
</ol>


<h4>第５条　禁止事項</h4>
　会員は、以下に定める行為又は以下に定める内容・表現もしくはその恐れのある内容・表現を含む書き込みや画像投稿、 メッセージの送信等（以下「送信等」と総称します）を行ってはならないものとします。 また会員が、禁止事項に違反したと当団体が判断した場合には、送信等した内容の削除、本サービスの全部又は一部の利用停止処分、 その他当団体が適切と判断する措置をとることができるものとします。
<br>
<ol>
  <li>公序良俗・社会倫理・健全な社会通念に反するもの</li>
  <li>法律・法令に反するもの</li>
  <li>本サービスを利用しての商業行為</li>
  <li>
    その他
    <ol style="margin-left: -25px;">
      <li class="kakko">個人、法人問わず、自ら又は組織等を偽る行為（不正に他人に成りすます行為も含まれます。）</li>
      <li class="kakko">宗教団体もしくはそれと同視し得る団体への勧誘、布教、寄付等を求める、又はその恐れのある行為</li>
      <li class="kakko">会員間の金銭の授受行為</li>
      <li class="kakko">その他、本サービスの利用において当団体が不適切と判断する行為全般</li>
    </ol>
  </li>
</ol>


<h4>第６条　その他</h4>
<ol>
  <li>
    退会について
    <ol style="margin-left: -25px;">
      <li class="kakko">会員はいつでも、いかなる理由でも、本サービスの利用を停止し、会員資格を終了させることができます。退会しようとする場合は、当団体が定める手続きに従い、それを行うものとします。</li>
      <li class="kakko">会員が当団体所定の手続き方法により退会した場合、会員が本サービスにて登録された写真などの本サービスにおけるご利用情報は削除されるものとし、当団体は一切の責任を負わないものとします。</li>
    </ol>
  </li>
  <li>
    著作権について<br>
    当団体が提供する本サービス内のロゴ等のコンテンツにおいて、全て当団体が著作権を有するものとします。
  </li>
  <li>
    本サービスの利用料金<br>
    　本サービスは全て無料で利用することができます。あらゆる場合においても利用料金が発生することは一切なく、当団体から請求が行われることもございません。
  </li>
  <li>
    本サービスの停止・中止・終了
    <ol style="margin-left: -25px;">
      <li class="kakko">
        当団体は、以下各号の事由に起因する場合、本サービスの全部又は一部を停止・中止・終了することができ、 当該事由に起因して会員又は第三者に損害が発生した場合、一切の責任を負わないものとします。
        <table>
          <tr>
            <td style="vertical-align: top">一.</td>
            <td>定期的又は緊急に本サービス提供のためのコンピューターシステムの保守・点検を行う場合</td>
          </tr>
          <tr>
            <td style="vertical-align: top">二.</td>
            <td>火災・停電、天災地変等の非常事態により本サービスの運営が不能となった場合</td>
          </tr>
          <tr>
            <td style="vertical-align: top">三.</td>
            <td>サービス提供のためのコンピューターシステムの不良および第三者からの不正アクセス、 コンピューターウイルスの感染等により本サービスを提供できない場合</td>
          </tr>
          <tr>
            <td style="vertical-align: top">四.</td>
            <td>法律、法令等に基づく措置により本サービスが提供できない場合</td>
          </tr>
          <tr>
            <td style="vertical-align: top">五.</td>
            <td>その他、当団体が止むを得ないと判断した場合</td>
          </tr>
        </table>
      </li>
      <li class="kakko">当団体は、事前に本サービスを通じ、会員に通知することにより、本サービスの全部又は一部を変更・中止・終了することができ、 これにより会員に損害が発生した場合、一切の責任を負わないものとします。</li>
    </ol>
  </li>
  <li>
    責任の範囲<br>
    　会員同士の交際・交流を含む各種トラブルや不正アクセス、携帯端末のウィルス感染等が原因で、会員のプロフィール情報や個人情報などが流出したり、 第三者の運営するインターネットサービスに掲載された等全ての場合において、会員自らが責任を負うものとし、当団体では責任を負わないものとします。
  </li>
  <li>
    準拠法<br>
    　本規約は、日本法に準拠し、解釈されるものとします。
  </li>
  <li>
    本利用規約の改訂について
    <ol style="margin-left: -25px;">
      <li class="kakko">
        当団体は、次の各号のいずれかに該当する場合には、本利用規約の変更の効力発生時期を定め、 かつ、本利用規約を変更する旨、変更後の規約内容及びその効力発生時期を本サービスもしくは 当団体の別途指定するウェブサイト等への掲載による公表その他適切な方法で周知することにより、 本規約を変更することができるものとします。
        <table>
          <tr>
            <td style="vertical-align: top">一.</td>
            <td>変更の内容が会員の利益に適合する場合</td>
          </tr>
          <tr>
            <td style="vertical-align: top">二.</td>
            <td>変更の内容が本利用規約に係る取引の目的に反せず、変更の必要性、 変更後の内容の相当性その他の変更に係る事情等に照らし、合理的なものである場合</td>
          </tr>
        </table>
      </li>
      <li class="kakko">当団体は、本利用規約を改訂しようとする場合、本サービス等を通じ、随時、会員に告知するものとします。</li>
      <li class="kakko">前項に基づき、本利用規約改訂後も継続して本サービスを利用する場合、 当該会員は本利用規約の改訂に同意する必要があり、その後当該会員と当団体との間で改訂後の利用規約の効力が発生するものとします。</li>
      <li class="kakko">会員は、前項に定める効力発生の時点以降、当該内容の不知又は不承諾を申し立てることはできないものとします。</li>
    </ol>
  </li>
</ol>

<p>　令和4年9月22日	制定</p>
