<h2 style="font-size:150%;">
  <div class="back">
    <%= link_to :account do %>
      < 戻る
    <% end %>
  </div>
</h2>

<div style="margin:0 5% 20% 5%">
  <h3> ー お問合せ ー </h3>
  <div style="border: dotted 3px green; padding: 0 5px">
    <p>お問い合わせはGoogleフォームにて受け付けます。</p>
    <p>ご質問等には個別にメールにて対応するため、フォームの送信の際には送信者のメールアドレスを収集させていただきます。
      収集したメールアドレスは返信対応以外の用途には使用致しません。
    <p>フォームに寄せられた質問に関しましては、活動の一つとしてプロジェクトの成果物に反映される場合がございます。
      あらかじめご了承ください(匿名で質問等の内容が引用される場合があります)。</p>
    <p align="right" style="font-weight: bold;">
      <% a = "https://docs.google.com/forms/d/e/1FAIpQLSccpHk9Jap7hujtKTcGTAk2qiMlsB5Gv5nBToTMQRbnL12-wA/viewform" %>
      →<%= link_to "お問合せフォーム", a, style: "color: blue;", target: "_blank" %>
    </p>
  </div>
  <h3> ー Aminect利用規約 ー </h3>
  <div class="terms">
    <%= render "shared/terms" %>
  </div>
  <h3> ー アカウント削除について ー </h3>
  <p>
    アカウントを削除する場合は、<a href="#delete" style="font-weight: bold; font-size: 16px">こちら</a>をクリック
    <br>※削除後、再度アカウントを作成することは可能です
  </p>
</div>

<div class="modal-post" id="delete">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <h2 style="margin-top:0">アカウント削除</h2>
      <p>アカウント削除すると以下の情報が失われます</p>
      <div style="background-color: #ddd; padding: 5px 0;">
        <ul>
          <li align=left>プロフィール情報</li>
          <li align=left>投稿</li>
          <li align=left>フォロー/フォロワー</li>
          <li align=left>トークルーム</li>
          <li align=left>メッセージ</li>
        </ul>
      </div>
    </div>
    <br>
    <table width=100% >
      <tr>
        <td width="50%" align=right style="padding-right: 10px;">
          <a href="#!" style="width:90px; border:1px solid #666; border-radius: 3px; padding:5px; color:#666; text-decoration:none">
            キャンセル
          </a>
        </td>
        <td width="50%" align=left style="padding-left: 10px;">
          <%= link_to "　 削除 　", @user, method: :delete, data:{ confirm: "本当に削除しますか?" },
           style:"width:82px; border-radius: 3px; padding:5px; color:white; background-color:#dc143c; text-decoration:none" %>
         </td>
      </tr>
    </table>

  </div>
</div>
