<h2 class="back">
  <%= link_to "< 運営からの連絡", :root %>
</h2>


<% @announces.each_with_index do |a, i| %>
  <%= render partial: "announce_modal", :locals=>{:announce_id => i.to_s, :announce => a} %>
<% end %>
