<h2>投稿</h2>
　　<%= link_to "<<一覧",:admin_announces %>

<%= form_for [:admin, @announce] do |form| %>
  <%= form.text_area :text, style: "margin-left: 10%; width: 80%;", rows: "20%" %>

  <%= form.submit "投稿する", data: {confirm: "この内容で投稿しますか?"}, class: "announce-btn" %>
<% end %>
