/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .header{
   padding-left: 5%;
   display: flex;
   border-bottom: 3px solid #2E8B58;
 }
 .logout {
   margin: auto 0 0 auto;
 }
/* body--------------------------- */
  body {
    font-family: "Arial";
    margin: 8px 0 0 0;
  }
 h2 {
   padding-left: 5%;
   margin-bottom: 5px;
   width: 95%;
   border-bottom: 1px solid #000;
 }
 .content {
   position: absolute;
   width: 100%;
   height: 83%;
   overflow-y: scroll;
   overflow-x: hidden;
   font-size: 14px;
   /* z-index: 1; */
 }
 /* ------------------------------ */
 .box_css{
  width:250px;
  margin: 2em;
  border: solid 3px #000000;
}
.title {
 text-align: center;
 font-size: 70%;
 font-weight: bold;
}
.menu_image2 {
  width: 90%;
  margin: 1% 5% 3% 5%;
  border: 1px solid black;
  border-radius: 10px;
}
.menu_image2:hover {
 opacity:0.6;
}
.menu {
 width:400px;
 margin:10px auto;
}
.menu_width {
 width:200px;
}
.image_text {
 width:170px;
 margin:0 auto;
}
.menu_image {
 width:170px;
}

/* 通知 */
.alert {
  height: 35px;
  width: 100%;
  padding-top: 5px;
  background-color: #f44;
  color: #fff;
  text-align: center;
  margin: 0;
}
.notice {
  height: 35px;
  width: 100%;
  padding-top: 5px;
  background-color: #77f;
  color: #fff;
  text-align: center;
  margin: 0;
}
/* 投稿ボタン */
 .post-btn {
   width: 50px;
   height: 50px;
   font-size: 40px;
   border-radius: 50%;
   border: 1px solid;
   position: absolute;
   right: 2%;
   bottom: 12%;
   background-color: #84f251;
   color: #fff;
   text-align: center;
 }
 .new-img{
   width: 70%;
   object-fit: cover;
 }
 div.field_with_errors {
   background-color: #fcc;
   padding: 2px;
 }

 .terms {
   width: 94%;
   height: 200px;
   overflow-y: scroll;
   overflow-x: hidden;
   font-size: 12px;
   padding: 5px 3%;
   border: 1px solid #aaa;
 }
 ol .kakko {
 	list-style-type: none;
 	counter-increment: cnt;
 	position: relative;
 }

 ol .kakko:before {
 	content: "(" counter(cnt) ")";
 	display: inline-block;
 	margin-left: -3.5em; /* サイトに合せて調整 */
 	width: 3em; /* サイトに合せて調整 */
 	text-align: right;
 	position: absolute;
 	top: 0;
 	left: 0;
 }
/* ------------------- */
 .complete-btn {
   border: 1px solid;
   color: #fff;
   font-size: 20px;
   padding: 5px 10px;
   background-color: rgb(223, 6, 121);
   border-radius: 5px;
 }
