.back a {
  color: black;
  font-family: "Arial";
  font-weight: bold;
  text-decoration: none;
}
.back a:active{
  color : #26a69a;
}
/* ---------------------------------------------------- */
.send {
  /* padding-top: 100%; */
  position: absolute;
  bottom: 20px;
  width: 98%;
  padding-left: 2%;
}
.input{
  border-color: #000;
  border-radius : 10px;
  border: none;
  font-size: 16px;
  width: 95%;
  height: 25px;
  padding: 0 6px;
  resize: none;
}
.input:focus {
  border: none;
  outline: none;
}
.btn {
  display: inline-block;
  border-radius : 10px;
  border: none;
  font-size: 14px;
  margin-bottom: 7%;
  cursor: pointer;
  background: #eb6155;
  color: #ffffff;
  line-height: 1em;
  transition: .15s;
  height: 40px;
}
.btn:hover {
  opacity: 1;           /* カーソル時透明度 */
  color: #660000;     /* 文字色     */
}
/* ---------------------------------------------------- */
.scroll {
  position: absolute;
  width: 96%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 14px;
  font-family: sans-serif;
  margin-left: 2%;
  margin-right: 2%;
  top: 124px;
  bottom: 10%;
  border-radius: 5px;
  border: black 1px solid;
  text-align: right;
  background: #eee;
}
/* ---------------------------------------------------- */
.scroll .date {
  text-align: center;
  height: 35px;
}
.scroll .date p{
  display: inline-block;
  width: 70px;
  border-radius: 12px;
  background-color: #777;
  color: white;
}
/* ---------------------------------------------------- */
.partner {
  width: 90%;
  margin: 1% 1%;
  overflow: hidden;
  border-color: #000;
}

.partner .faceicon {
  float: left;
  margin-right: -50px;
  border-color: #000;
}

.partner .faceicon img{
  display: inline-block;
  border-radius: 50%;
  border: 1px solid;
}
.partner .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 50%;
  border-radius: 12px;
  background: #36f;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 40%;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #36f;
  -webkit-transform: rotate(35deg);
  transform: rotate(15deg);
}
.says p {
  margin: 0;
  padding: 0;
  color: #fff;
}

/*以下、③右側の緑コメント*/
.self {
  margin: 3% 1%;
}
.self p {
  display: inline-block;
  position: relative;
  text-align: left;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 50%;
  border-radius: 12px;
  background: #6f6;
  font-size: 15px;
}

.self p:after {
  content: "";
  position: absolute;
  top: 30%;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #6f6;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-15deg);
}

/* indexのデザイン */
.rooms {
  height: 15%;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #000;
}
.rooms th {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.rooms td {
  font-size: 15px;
  color: #000;
}
/* ---------------------------- */
.js-delete-open {
  font-size: 18px;
  margin:0;
}
.delete-content {
  display: inline-block;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  text-align: center;
  position: absolute;
  right: 3%;
  top: 0;
}

.delete{
   display: none;
   height: 100vh;
   position: fixed;
   top: 0;
   width: 100%;
}
.delete__bg{
   height: 100vh;
   position: absolute;
   width: 100%;
}
.delete__content {
    position: fixed;
    width: 90%;
    height: 120px;
    margin-top: 40%;
    margin-left: 5%;
    align-self: center;
    border: 1px solid red;
    background: rgb(255, 167, 167);
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    color: white;
}
.delete__content p{
  margin: 10% 0 3% 0;
  font-weight: bold;
}
.delete-btn {
  width: 130px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 15px;
}
/* ---------------------------- */
.msg-count {
    display: inline-block;
    border-radius: 5px;
    padding: 10% 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #DADADA;
}
