.password_url {
  position: absolute;
  right: 3%;
  display: inline-block;
  text-decoration: none;
  border: 2px dotted black;
  border-radius: 5px;
  color: black;
  margin: 5px;
  padding: 2px;
}

.pass {
  width: 272px;
  height: 35px;
  background: #FFFFFF;
  border: 3px solid rgba(6, 6, 6, 0.4);
  font-size: 20px;
  letter-spacing: -0.3px;
  border-radius: 5px;
  /* margin: 3px 0; */
}
.pass-btn {
  border: 1px solid;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  background-color: rgb(6, 180, 70);
  border-radius: 5px;
}
