  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
  }

  .schedule {
    width: 100%;
    max-width: 680px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-collapse: collapse;
    border-spacing: 0;
  }
  @media screen and (min-width: 769px) {
    .schedule, .schedule thead, .schedule tbody {
      display: flex;
    }
  }

  .schedule th, .schedule td {
    padding: 1em;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    text-align: center;
    vertical-align: middle;
  }
  @media screen and (min-width: 769px) {
    .schedule th, .schedule td {
      display: block;
    }
  }

  .schedule th {
    background: #ecf5f7;
  }

  @media screen and (min-width: 769px) {
    .schedule thead {
      flex-direction: column;
      width: 150px;
    }
  }
  @media screen and (min-width: 769px) {
    .schedule tbody {
      flex: 1;
    }
  }
  @media screen and (min-width: 769px) {
    .schedule tbody tr {
      width: calc(100% / 7);
    }
  }

  .schedule td:empty::after {
    content: '-';
    padding: .5em;
  }


  .button02 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: #00f;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    border-radius: 50vh;
  }

  .button02 a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #00f;
    border-right: 3px solid #00f;
    transform: rotate(45deg);
  }

  .button02 a:hover {
    text-decoration: none;
    background-color: #bbbbbb;
  }

  #float-box {
    overflow: hidden;
  }

  #float-box img {
    float: left;
    max-width: 45%;
  }

  #float-box p {
    float: right;
    max-width: 50%;
  }
/* -------------------------- */
.modal-user {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center
}

.modal-user:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-user:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-user::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-user .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  top: 7%;
  position: relative;
  width: 94%;
  padding: 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .25);
  max-height: 93%;
  overflow-y: scroll;
  overflow-x: hidden;
  vertical-align: middle;
}

.modal-user .modal-window .modal-content {
  max-height: 80vh;
}

.modal-user .modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .3)
}

.modal-user .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-user .modal-close:hover {
  color: #2b2e38 !important
}

.user_link {
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  padding: 2px;
  display: inline-block;
  border-radius: 3px;
  background-color: #44cd88;
  width: 110px;
}
.user_link::after {
  padding: 2px 1px 0 4px;
  margin-left: 8px;
  content: "▶︎";
  color: #44cd88;
  border-radius: 50%;
  background-color: #fff;
}

.tt-btn {
  border: 1px solid;
  color: #fff;
  font-size: 16px;
  width: 100px;
  background-color: rgb(223, 6, 121);
  border-radius: 5px;
}
