* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
  }
  
  .schedule {
    width: 100%;
    max-width: 680px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-collapse: collapse;
    border-spacing: 0;
  }
  @media screen and (min-width: 769px) {
    .schedule, .schedule thead, .schedule tbody {
      display: flex;
    }
  }
  
  .schedule th, .schedule td {
    padding: 1em;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    text-align: center;
    vertical-align: middle;
  }
  @media screen and (min-width: 769px) {
    .schedule th, .schedule td {
      display: block;
    }
  }
  
  .schedule th {
    background: #ecf5f7;
  }
  
  @media screen and (min-width: 769px) {
    .schedule thead {
      flex-direction: column;
      width: 150px;
    }
  }
  @media screen and (min-width: 769px) {
    .schedule tbody {
      flex: 1;
    }
  }
  @media screen and (min-width: 769px) {
    .schedule tbody tr {
      width: calc(100% / 7);
    }
  }
  
  .schedule td:empty::after {
    content: '-';
    padding: .5em;
  }


  .button02 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: #00f;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    border-radius: 50vh;
  }
  
  .button02 a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #00f;
    border-right: 3px solid #00f;
    transform: rotate(45deg);
  }
  
  .button02 a:hover {
    text-decoration: none;
    background-color: #bbbbbb;
  }