<h3 style="margin-left: 10%;">利用規約を変更点があります。</h3>
<p style="margin: 0 10%;">利用規約に修正を加えさせていただきました。引き続きAminectをご利用していただくには再度同意が必要になります。同意される方は「同意する」にチェックをし、完了ボタンを押してください。</p>
<% if flash.alert %><p class="alert"><%= flash.alert %></p><% end %>

<%= render "agree" %>
