<div class="header">
  <%= image_tag 'logo.png', size: "170x50" %>
  管理者

  <% if current_admin.present? %>
    <div class="logout">
      <%= link_to :admin_session, method: :delete, data: { confirm: "ログアウトしますか?" } do %>
        ログアウト<%= image_tag "logout.png", size: "20x20" %>
      <% end %>
    </div>
  <% end %>
</div>
