<table>
  <tr>
    <th>ニックネーム</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td>
      <% if @user.sex==1 %>男性
      <% elsif @user.sex==2 %>女性
      <% else %>--
      <% end %>
    </td>
  </tr>
  <tr>
    <th>出身地</th>
    <td><%= @user.birthplace %></td>
  </tr>
  <tr>
    <th>学部</th>
    <td><%= @user.undergraduate %></td>
  </tr>
</table>

<%= link_to "編集", :edit_account %>
